html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[class] {
    text-decoration: none;
}

/* (╯ ° □ °) ╯(╯ ° □ °) ╯(╯ ° □ °) ╯ */
html {
    scroll-behavior: smooth;
}

.container {
    box-sizing: border-box;
    width: 1150px;
    margin: 0 auto 0;
}

section {
    margin-bottom: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0 62px;
}

.menu a+a {
    margin-left: 60px;
}

.menu-link {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #101010;
    text-decoration: none;
}

.menu-link:hover {
    color: gray;
    border-bottom: 1px solid gray;
}

.title {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000;
    max-width: 956px;
    margin-bottom: 30px;
}

.block__team {
    background-image: url(images/title-bg.jpg);
    max-width: 1150px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 150px;
}

.block__team p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fff;
    width: 470px;
    padding: 0 0 40px 40px;
    word-wrap: normal;
}

.subtitle {
    padding-bottom: 30px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #000;
}

.about-us-text {
    padding-bottom: 30px;
    max-width: 1048px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: -0.03em;
    color: #000;
}

.button-services {
    display: block;
    background-color: #AD1818;
    width: 255px;
    height: 65px;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 67px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: center;
}

.button-services:hover {
    background-color: #AD1818;
    color: #121212;
}

.project-img {
    margin-bottom: 15px;
}

.name {
    margin-bottom: 15px;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #121212;

}

.project-link {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #AD1818;
}

.project-link:hover {
    border-bottom: 1px solid #AD1818;
}

.block__project {
    margin-bottom: 90px;
}

.button-projects {
    display: block;
    color: #AD1818;
    text-decoration: none;
    width: 1150px;
    height: 153px;
    background-color: #fff;
    border: 1px solid #AD1818;
    text-align: center;
    line-height: 153px;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.03em;
}

.button-projects:hover {
    background-color: #AD1818;
    color: #fff;
}

.services-subtitle {
    padding: 151px 0 34px;
    color: #fff;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;

}

.services {
    background-color: #121212;
    margin-bottom: 0;
}

.service-name {
    color: #fff;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;

}

.service-img {
    margin-bottom: 15px;
}

.block-service {
    margin-top: 60px;
}


.project-promo {
    background-color: #121212;
    margin-bottom: 150px;
    padding-top: 150px;
}

.block-project-promo {
    margin: 0 auto 0;
    background: url(images/project-promo.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 717px;
    max-width: 2800px;
    display: flex;
    align-items: flex-end;
}

.project-promo-link {
    margin: 0 125px 60px;
    width: 443px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #fff;
}
.contacts h2{
    position: relative;
}
.contacts h2::before {
    content: '';
    position: absolute;
    top: -24px;
    left: -4px;
    background-image: url(images/phone.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
}

.contacts-text {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000;
    margin-bottom: 30px;
}

.footer {
    background-color: #121212;
    height: 220px;
    display: block;
    justify-content: center;
}

.footer-menu {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 60px 0 87px;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
}

.official-name {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: center;
}

.footer-menu-link {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: #fff;
}

.footer-menu-link:hover {
    color: gray;
}

.contacts a:hover {
    color: gray;
    border-bottom: 1px solid gray;
}