html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[class] {
    text-decoration: none;
}

/* (╯ ° □ °) ╯(╯ ° □ °) ╯(╯ ° □ °) ╯ */
html {
    scroll-behavior: smooth;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    width: 1180px;

}

section {
    margin-bottom: 150px;
}

.header__wrapper {
    margin: 32.82px 1px 73.76px 0.35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu__link+.menu__link {
    margin-left: 60px;
}

.menu__link {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #101010;
}

.menu__link:hover {
    color: gray;
    border-bottom: 1px solid gray;
}

.team__title {
    margin-bottom: 30px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000;
    width: 956px;
}

.team__block {
    background-image: url(images/title-bg.jpg);
    height: 500px;
    display: flex;
    align-items: flex-end;
}

.team__description {
    margin: 0 0 40px 40px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fff;
    width: 470px;
}

.subtitle {
    margin-bottom: 30px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #000;
}

.about-us__description {
    margin: 0 0 30px 3px;
    width: 1048px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: -0.03em;
    color: #000;
}

.show-services-button {
    display: block;
    background-color: #AD1818;
    width: 255px;
    height: 65px;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 67px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: center;
}

.show-services-button:hover {
    background-color: #AD1818;
    color: #121212;
}

.project__block {
    margin-bottom: 90px;
}

.project__img {
    margin-bottom: 15px;
}

.project__name {
    margin-bottom: 15px;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #121212;
}

.project__link {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #AD1818;
}

.project__link:hover {
    border-bottom: 1px solid #AD1818;
}

.show-projects-button {
    display: block;
    color: #AD1818;
    text-decoration: none;
    width: 1150px;
    height: 153px;
    background-color: #fff;
    border: 1px solid #AD1818;
    text-align: center;
    line-height: 153px;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.03em;
}

.show-projects-button:hover {
    background-color: #AD1818;
    color: #fff;
}

.services {
    background-color: #121212;
    padding: 151px 0 150px;
    margin-bottom: 0px;
}

.service__block+.service__block {
    margin-top: 60px;
}

.service__img {
    margin-bottom: 15px;
}

.dark-theme__subtitle {
    margin-left: 2px;
    color: #fff;
}

.service__name {
    margin-left: 3px;
    color: #fff;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
}

.promo-project__block {
    margin: 0 auto 0;
    background: url(images/project-promo.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 717px;
    display: flex;
    align-items: flex-end;
}

.promo-project__link {
    margin: 0 0 60px 125px;
    width: 443px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #fff;
}

.contacts .subtitle {
    position: relative;
}

.contacts .subtitle::before {
    content: '';
    position: absolute;
    top: -24px;
    left: -4px;
    background-image: url(images/phone.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
}

.contacts__block {
    display: flex;
    flex-direction: column;
    height: 217px;
}

.contacts__tel {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    margin-bottom: 30px;
}

.contacts__mail {
    width: 412px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: gray;
    border-bottom: 2px solid gray;
}

.contacts__mail:hover {
    color: #121212;
    border-bottom: 2px solid #121212;

}

.footer {
    padding: 60px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121212;
    height: 220px;
}

.footer__menu {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
}

.official-name {
    display: block;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: center;
}

.footer-menu-link {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: #fff;
}

.footer-menu-link:hover {
    color: gray;
}